# ----------------------
# Flask
# ----------------------
flask
APScheduler==3.0.0

# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gunicorn


# ----------------------
# LINE Bot
# ----------------------
line-bot-sdk